body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: pink;
  font-family: cursive;
  height: 100vh;
}

h1{
  font-size: 50px;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  white-space: nowrap;
}

.btn{
  padding: 30px 50px;
  background: #fff;
  border: none;
  margin: 10px;
  cursor: pointer;
  font-size: 1.8rem;
  min-width: 200px;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.35);
  background-image: url("images/tom.png");
  background-size: cover;
  color: #fff;
  font-family: cursive;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  text-transform: capitalize;
}

.btn:hover{
  color: pink;
}

.btn:active{
  background-size: 105%;
}

.container{
  text-align: center;
}