* {
  box-sizing: border-box;
}

body {
  background-color: #1d202c;
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 360px;
}

.title {
  margin: 0;
}

.subtitle {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.8;
}

.header {
  background-color: #3e57db;
  color: #fff;
  padding: 26px 20px;
}

.header input {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
}

.header input:focus {
  outline: none;
}

.user-list {
  background-color: #fff;
  list-style: none;
  max-height: 400px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.user-list li {
  display: flex;
  padding: 20px;
}

.user-list li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.user-list img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: contain;
}

.user-list .user-info {
  margin-left: 10px;
}

.user-list .user-info h4 {
  margin: 0 0 10px;
}

.user-list .user-info p {
  font-size: 13px;
}

.user-list li.hide{
  display: none;
}